<div class="row">
    <div class="col-md-6 offset-md-2 offset-lg-3">
        <hr>
        <h5 class="mt-4">All Reviews</h3>
            <div class="row">
                <% for(let review of listing.reviews){ %>
                    <div class="card col-md-6 mt-3 review-card">
                        <div class="card-body">
                            <h5 class="card-title review-card-title">
                                <%= review.owner.username %>
                            </h5>
                            <div class="card-text">
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    Rated: <%= review.rating %>
                                </p>
                                <p>
                                    <%= review.comment %>
                                </p>
                            </div>

                            <% if(currUser && currUser._id.equals(review.owner._id)){ %>
                                <form action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE"
                                    method="post">
                                    <button class="btn btn-dark btn-sm review-btn">Delete</button>
                                </form>
                                <% } %>
                        </div>
                    </div>

                    <% } %>
            </div>
    </div>

</div>